<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thedailyherald"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".NewsListView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />


        </activity>

<!--        <meta-data android:name="RAPID_API_KEY"-->
<!--         android:value="8a13e7d2d4msh914d61b12bb5b6bp19f258jsn1e5059e69ede"/>-->
        <meta-data
            android:name="RAPID_API_KEY"
            android:value="36e620342fmsh81fd5754ebf8013p182a5fjsn99cb76b80cfe" />

        <meta-data
            android:name="RAPID_API_HOST"
            android:value="bing-news-search1.p.rapidapi.com" />
        <meta-data
            android:name="RAPID_API_BASE_URL"
            android:value="https://bing-news-search1.p.rapidapi.com/" />
    </application>

</manifest>